<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.springmvc.dao.StudentDAO">

<resultMap type="Student"  id="resultListstudent">
		<id column="ID" property="id"/>
		<result column="stuNo" property="stuNo"/>
		<result column="stuQQ" property="stuQQ"/>	
		<result column="stuName" property="stuName"/>
		<result column="stuPro" property="stuPro"/>
		<result column="create_at" property="createAt"/>
		<result column="update_at" property="updateAt"/>
	</resultMap> 
	<select id="selectAllstu" resultType="Student">
	select * from student
	</select>
	<select id="selectByParam" resultType="Student" parameterType="Student" >
	select * from student where 1=1
	<if test="stuNo != null">
			and stuNo=#{stuNo,jdbcType=VARCHAR}
		</if>
		<if test="stuQQ != null">
			and stuQQ=#{stuQQ,jdbcType=VARCHAR}
		</if>
		<if test="stuName != null">
			and stuName LIKE CONCAT(CONCAT('%', #{stuName}), '%');
		</if>
		<if test="stuPro != null">
			and stuPro=#{stuPro,jdbcType=VARCHAR}
		</if>
		<if test="createAt != 0">
			and create_at=#{createAt,jdbcType=BIGINT}
		</if>
		<if test="updateAt != 0">
			and update_at=#{updateAt,jdbcType=BIGINT}
		</if>
	</select>
	<delete id="deleteStun" parameterType="int" >
	delete from student where id=#{id}
	</delete>
	<update id="updateStun" parameterType="Student">
	update student 
	<set>
	<if test="stuNo != null">
			stuNo=#{stuNo,jdbcType=VARCHAR},
		</if>
		<if test="stuQQ != null">
			stuQQ=#{stuQQ,jdbcType=VARCHAR},
		</if>
		<if test="stuName != null">
			stuName=#{stuName,jdbcType=VARCHAR},
		</if>
		<if test="stuPro != null">
			stuPro=#{stuPro,jdbcType=VARCHAR},
		</if>
		<if test="createAt != 0">
			create_at=#{createAt,jdbcType=BIGINT},
		</if>
		<if test="updateAt != 0">
			update_at=#{updateAt,jdbcType=BIGINT},
		</if>
	</set>
	where id=#{id,jdbcType=BIGINT}
	</update>
		<insert id="insertStun" parameterType="Student">
		insert into
		student(stuNo,stuQQ,stuName,stuPro,create_at,update_at)
		values(#{stuNo,jdbcType=VARCHAR},#{stuQQ,jdbcType=BIGINT},#{stuName,jdbcType=VARCHAR},
		#{stuPro,jdbcType=VARCHAR},#{createAt,jdbcType=BIGINT},#{updateAt,jdbcType=BIGINT});
	</insert>
	<!-- <insert id="insertStun" parameterType="Student" useGeneratedKeys="true" keyProperty="id">
		insert into student(stuNo,stuName) values(#{stuNo},#{stuName})
	</insert> -->
</mapper>